
<div class="maps-wrapper">
    <div class="search-field">
      <input id='pac-input' class='search-box' type="text" #searchBox>
    </div>
    <button class="done-button" #doneBtn>Done</button>
    <div #map class="map">
    </div>
  </div>