<div class="container sn-transf-login">
  <div class="col-md-offset-4 col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Login
      </div>
      <div class="panel-body">
        <div class="alert alert-danger" *ngIf="loginError.error==true">
          <strong>{{loginError.message}}</strong>
        </div>
        <form #f="ngForm" (ngSubmit)="login(f.value)">
          <div class="form-group">
            <label class="control-label">Utilisateur</label>
          <input ngModel="" name="username" class="form-control" required>
          </div>
          <div class="form-group">
            <label class="control-label">mot de passe</label>
          <input ngModel="" name="password" class="form-control" required>
          </div>
          <button class="btn btn-success" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
