<div class="">
    <ul class="nav nav-tabs">
      <li role="presentation" class="pull-right"><a data-toggle="tab" href="#carte">Carte</a></li>
        <li role="presentation" class="active pull-right"><a data-toggle="tab" href="#liste">Liste</a></li>
      </ul>
      <div class="tab-content container-fluid">
          <div id="liste" class="tab-pane fade in active">
            <h3>Liste
              <button class="btn btn-success pull-right" data-toggle="modal" data-target="#agenceModal"><i class="fa fa-plus"></i> nouvel</button>
            </h3>

            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Agence</th>
                    <th>Responsable</th>
                    <th>Adresse</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                    <td style="display: flex;justify-content: space-around;"><i class="fa fa-pencil  btn-sm btn-warning btn"></i>
                      <i class="fa fa-info btn-info btn  btn-sm"></i>
                      <i class="fa fa-trash-o btn-danger btn-sm btn"></i>
                      <i class="fa fa-lock btn-success btn  btn-sm"></i>
                      <i class="fa fa-map btn-primary btn  btn-sm"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                    <td style="display: flex;justify-content: space-around;"><i class="fa fa-pencil  btn-sm btn-warning btn"></i>
                      <i class="fa fa-info btn-info btn  btn-sm"></i>
                      <i class="fa fa-trash-o btn-danger btn-sm btn"></i>
                      <i class="fa fa-lock btn-success btn  btn-sm"></i>
                      <i class="fa fa-map btn-primary btn  btn-sm"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                    <td style="display: flex;justify-content: space-around;"><i class="fa fa-pencil  btn-sm btn-warning btn"></i>
                      <i class="fa fa-info btn-info btn  btn-sm"></i>
                      <i class="fa fa-trash-o btn-danger btn-sm btn"></i>
                      <i class="fa fa-lock btn-success btn  btn-sm"></i>
                      <i class="fa fa-map btn-primary btn  btn-sm"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div id="carte" class="tab-pane fade">
            <div class="containe">
                <h3>Carte</h3>
                <app-map [mapType]="'ROADMAP'" [multiplePlaces]="true"></app-map>
            </div>
          </div>
        </div>
</div>
<div id="agenceModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agence</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label>Agence</label>
              <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Le nom de l'agence est obligatoire</div>
              </div>
          </div>
          <div class="form-group">
              <label>Nom du responsable</label>
              <input type="text" formControlName="firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
              <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                  <div *ngIf="f.firstname.errors.required">Le nom du responsable est obligatoire</div>
              </div>
          </div>
          <div class="form-group">
            <label>Prénom du responsable</label>
            <input type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
            <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                <div *ngIf="f.lastname.errors.required">Le prénom du responsable est obligatoire</div>
            </div>
        </div>
        <div class="form-group">
          <label>Cin</label>
          <input type="text" formControlName="cin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cin.errors }" />
          <div *ngIf="submitted && f.cin.errors" class="invalid-feedback">
              <div *ngIf="f.cin.errors.required">Le cin du responsable est obligatoire</div>
          </div>
      </div>
          <div class="form-group">
              <label>Email</label>
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email est obligatoire</div>
                  <div *ngIf="f.email.errors.email">Email doit être valide</div>
              </div>
          </div>
          <div class="form-group">
              <label>Adresse</label>
              <input #placesRef="ngx-places"  ngx-google-places-autocomplete [options]='options'  (onAddressChange)="handleAddressChange($event)" type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                  <div *ngIf="f.address.errors.required">L'adresse est obligatoire</div>
              </div>
          </div>
          <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">Register</button>
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
